amqp==5.0.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
celery==5.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cycler==0.10.0
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
kombu==5.0.2
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.2
numpy==1.19.2
opencv-python==4.4.0.44
Pillow==8.0.1
prompt-toolkit==3.0.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
sha1==1.2
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.11
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0
amqp==5.0.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
celery==5.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cycler==0.10.0
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
kombu==5.0.2
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.2
Naked==0.1.31
numpy==1.19.2
opencv-python==4.4.0.44
Pillow==8.0.1
prompt-toolkit==3.0.8
pycrypto==2.6.1
pycryptodomex==3.9.9
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
sha1==1.2
shellescape==3.8.1
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.11
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0
